.speedwell {
    width: 50%;
    margin-bottom: 10px;
    border-radius: 10px;
}

/* сусідній селектор */
p + h2{
    font-style: italic;
    color:rgb(65, 43, 17);
}

#advantages {
    align-items: center;
    padding-left: 20px;
    font-size: 30px;
}

#advantages ul{
    list-style-type: "✓";
      
}

#advantages h2{
    color: rgb(2, 82, 2);
}

#disadvantages {
    padding-left: 20px;
    font-size: 30px;
}

#disadvantages ul{
    list-style-type: "✘";
}

#disadvantages h2{
    color: rgb(124, 0, 0);
}

.main-menu li:nth-child(2) button{
    color: rgb(192, 179, 179);
}

h1{
    margin: 0;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.block{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bottom{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

h3{
    margin: 0;
    font-size: 26px;
}