body{
    background-color: #D1BCAA;
    margin: 0;
    font-family:   'Lucida Sans Unicode', Verdana, sans-serif;
}

a{
    text-decoration: none;
    color: red;
}

.main-menu{
    display: flex;
    align-content: center;
    justify-content: space-around;
    list-style-type: none;
    margin: 0;
    width: 100%;
}

ul{
    padding: 0;
}

.main-menu li{
    display: flex;
    color: rgb(187, 162, 140);
    font-size: 36px;
    flex-direction: row;
    align-items: center;
}

.header {
    background-color: rgb(29, 17, 6);
    height: 7vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

h2 {
    color: rgb(29, 17, 6);
    font-size: 36px;
}

p{
    color: rgb(29, 17, 6);
    font-size: 30px;
    line-height: 1.5;
    text-align: justify !important;
    margin: 0;
}

.content {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 25px;
    padding-right: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 25px;
    margin-right: 25px;
}

.foreign{
    font-style: italic;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    font-size: 34px;
}

.footer{
    height: 6vh;
    background-color: rgb(184, 158, 135);
}