.car-picture {
    width: 350px;
    height: auto;
    margin-bottom: 10px;
    border-radius: 10px;
}

.pictures{
    float: left;
    width: 400px;
    margin-left: 20px;
}

.text{
    float:right;
    width: calc(100% - 420px)
}
.group{
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 10px;
    text-align: center;
}

.group p{
    font-size: 24px;
    text-align: center;
}
/* 
.car-picture:hover {
    transform: scale(1.1);
    cursor: pointer;
} */

.main-menu li:last-child button{
    color: rgb(192, 179, 179);
}

.content{
    overflow: hidden; /* ЩОБ РОЗТЯГУВАВСЯ ВРАХОВУЮЧИ ПЛАВАЮЧІ ЕЛЕМЕНТИ */
}

.info{
    display: flex;
    flex-direction: row;
}

h2{
    text-align: center;
}

p{
    text-align: left;
    margin: 0 7% 0 7%;
}